.THIS .small_icon {
    width: .875rem;
    height: .875rem;
}

.THIS .required-mark {
    float: left;
    padding-right: 2px;
    color: rgb(194, 57, 52);
    font-weight: 700;
}

.THIS .lookup-title {
    padding-left: 6px!important; 
    color: rgb(22, 50, 92)!important;
    width: calc(100% - 55px)!important;
}

.THIS .read-only {
    background-color: #e0e5ee!important;
}

.THIS .lookup-wrapper {
    height: 37px!important;
    margin: 2px!important;
    border: 1px solid #cccccc!important;
    width: calc(100% - 4px)!important;
}